@{    
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="jumbotron">
    <center><h1>Truck Trax</h1></center>
    <center><h5>You Follow Your Orders' Journey</h5></center>
    @*<center><img src="~/Image/SereneTruckDrive" alt="SereneTruckDrive" /></center>*@
    <center><img src="~/Images/SereneTruckDrive.jpg" alt="SereneTruckDrive" /></center>
    @*<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />height="152" width="178"*@
    @*<center><p class="lead">"Truck Trax" helps you with your next major project and you watch its shipping journey until it's safely in your hands.</p></center>*@
    <p style=" position: absolute; bottom: 0; right: 0; width: 100%; text-align: right;">"Truck Trax" helps you with your next major project and you watch its shipping journey until it's safely in your hands.</p>
</div>


