@model TruckTrax1.Models.ExtensionCords

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ExtensionCords</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ECBrandName" class="control-label"></label>
                <input asp-for="ECBrandName" class="form-control" />
                <span asp-validation-for="ECBrandName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ECLengthInFeet" class="control-label"></label>
                <input asp-for="ECLengthInFeet" class="form-control" />
                <span asp-validation-for="ECLengthInFeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ECFunctionality" class="control-label"></label>
                <input asp-for="ECFunctionality" class="form-control" />
                <span asp-validation-for="ECFunctionality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ECDetails" class="control-label"></label>
                <input asp-for="ECDetails" class="form-control" />
                <span asp-validation-for="ECDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ECItemNumber" class="control-label"></label>
                <input asp-for="ECItemNumber" class="form-control" />
                <span asp-validation-for="ECItemNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CordPrice" class="control-label"></label>
                <input asp-for="CordPrice" class="form-control" />
                <span asp-validation-for="CordPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
